/c++/CppApplication_1/build/
/c++/CppApplication_1/dist/
/c++/ArrayPartition/build/
/c++/ArrayPartition/dist/
/c++/Leetcode/CppApplication_1/build/
/c++/Leetcode/CppApplication_1/dist/
/c++/Leetcode/NextGreaterElementI/build/
/c++/Leetcode/NextGreaterElementI/dist/
/c++/Leetcode/NextPermutation/build/
/c++/Leetcode/NextPermutation/dist/
/c++/Leetcode/Pointers/build/
/c++/Leetcode/Pointers/dist/